<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment">
    <test name="Search Test">
        <classes>
            <class name="com.TestCases.SearchPurchaseOrder"/>
            <class name="com.TestCases.SearchSalesOrder"/>
<!--            <class name="com.TestCases.TestClass"/>-->
        </classes>
    </test> <!-- Test -->

</suite>